.card {
  position: relative;
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: box-shadow 0.3s ease, border 0.3s ease;
}

.cardDefault {
  width: 100%;
}

.cardFavorite {
  border: 3px solid crimson;
}

.imageWrapper {
  position: relative;
}

.details {
  padding: 1rem;
}

.title {
  margin: 0.5rem 0;
}

.artist {
  margin: 0.3rem 0;
  color: #666;
}
